<!DOCTYPE html>
<html>
<head>
    <title>OTP Econify</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dfvtzc7kr/image/upload/v1735963587/xlh8rrqhiklhwpls6q8f.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
      
        #otp-box {
            margin: 5% auto;
            width: 90%;
            font-family: 'Poppins', sans-serif;
        }

        #otp-box .wrapper-logo .logo-box img {
            display: block;
            /* margin: 0 auto; */
            width: 100px;
        }

        #otp-box .wrapper-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #otp-box .wrapper-logo .logo-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0 auto 5%;
        }

        .otp-content {
            text-align: center
        }


        .text-primary {
            color: #3461FD;
        }

        .text-gray {
            color: #999999;
        }

        .otp{
            letter-spacing: 2vw;
            text-align: center;
            font-size: 3em;
            font-weight: bold;
        }
        

        .mb-2 {
            margin-bottom: 2%;
        }

        .line {
            height: 2px;
            margin: 5% auto 3%;
            background-color: #999999;
        }
      
    </style>
</head>
<body>
    <section id="otp-box">
        <div class="otp-content">
            <div class="wrapper-logo">
                <div class="logo-box">
                    <img src="https://res.cloudinary.com/dfvtzc7kr/image/upload/v1735963587/xlh8rrqhiklhwpls6q8f.png">
                    <p class="text-primary" style="font-size: 24px;"><strong>Econify</strong></p>
                </div>
            </div>
            <h2 class="mb-2">Kode Verifikasi</h2>
            <h1 class="text-primary otp"><%= otp %></h1>
            <p>Segera lakukan verifikasi karena kode akan <br> kadaluarsa dalam 30 detik.</p>
            <p class="text-primary">Jangan bagikan kode ini <br>
                kepada siapapun!</p>
        </div>
        <div class="line"></div>
        <div class="otp-footer text-gray">
           <p>Dikirim oleh Econify IT Tech</p>
           <p>Mohon untuk tidak dibalas karena email ini <br>
            dikirim oleh komputer</p>
            <p class="text-primary">Bantuan - Kebijakan Privasi</p>
        </div>
    </section>
</body>
</html>